element.style {
}
@media screen and (max-width: 680px)

body {
    font-size: 50%;
}
styles.css:1
body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #999;
    font-size: 62.5%;
}
.break{
    border-bottom-style: dashed;
    border-color: darkcyan;
}
p {
    padding-bottom: 11px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    
}
a:hover{
    color: #00802b;
    text-decoration: line-through;
    background-color: #111;
}
a:visited{
    color: black;
    text-decoration: line-through;
}
a {
    color: #204060;
    text-decoration: none;
}
li a {
    display: block;
    width: 417px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Jim Nightshade', cursive;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666666;
}
li {
    float:left;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.pdf {
    width: 731px;
    height: 500px;
    display: block;
    margin: auto;
    padding-bottom: 13px;
}
.caption{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-end: 0px;
    text-align: center;
    border: none;
}

.rounded{
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    padding-top: 18px;
}
#circled{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
}
body {
    margin: 0;
    background-color: #F1F1D4;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
h1 {
    text-align: center;
    color: #333300;
    font-family: 'Jim Nightshade', cursive;
    font-size: 75px;
}

h2 {
    text-align: center;
    color: #333300;
    font-family: 'Jim Nightshade', cursive;
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
#center{
    text-align: center;
}
