element.style {
}
@media screen and (max-width: 680px)

body {
    font-size: 50%;
}
styles.css:1
body {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #999;
    font-size: 62.5%;
}
p {
    padding-bottom: 11px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom-style: dashed;
    border-color: darkcyan;
}
a {
    color: red;
}
nav ul li a {
    font-size: 20px;
    font-weight: bold;
}
nav ul {
    text-align: center;
    padding: 0;
}
user agent stylesheet
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.pdf {
    width: 731px;
    height: 500px;
    display: block;
    margin: auto;
}
.caption{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-end: 0px;
    text-align: center;
    border: none;
}
.rounded{
    border-radius: 8px;
    display: block;
    margin: auto;
    width: 50%;
    height: 50%;
}
#circled{
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 50%;
}
pre {
    font-size: 14px;

}
body {
    margin: 0;
    background-color: #F1F1D4;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
